
# --- Core Libraries ---
python-dotenv
langchain
langchain-community
langchain-google-genai
gunicorn
Flask

# --- Vector Database ---
chromadb

# --- Document Processing & Utilities ---
pypdf
langchain-experimental
requests
gspread
oauth2client

# --- Database Connection ---
SQLAlchemy
psycopg2-binary
psycopg
